#logo
	color: $white;
	padding: 10px;
	background: $orange;

#menu
	display: flex;
	align-items: stretch;
	background: $background-menu;

	.menu__mobile
		background: #fff;

		@media (min-width: $sm)
			display: none;

	ul
		display: none;

		@media (min-width: $sm)
			display: block;

	li
		display inline-block

	a,
	a:active
		font-weight: bold;
		color $grey
		padding: 15px 20px;
		margin: 5px;
		display inline-block
		text-decoration none

		&:hover
			color: $text-color;
			background: $white;

		&:focus,
		&.selected
			background: $blue;
			color: $white;
