.products
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.product
		border: 1px solid $border-color;
		padding: $base-margin;
		margin-bottom: $base-margin;
		position: relative;
		overflow: hidden;

		img
			max-width: 200px;

		.product__title
			display: block;
			font-family: $header-font-family;
			text-transform: uppercase;
			font-size: $h4-font-size;
			font-weight: 900;

		.product__ribbon
			position: absolute;
			top: 10%;
			left: -35%;
			width: 100%;
			text-align: center;
			transform: rotate(-45deg);
			background: $blue;
			color: $white;
			padding: $base-margin;
			text-transform: uppercase;
			font-weight: bold;
