@import "./reset.css";
@import "./variables.css";

body {
  background: var(--blue-dark);
  color: var(--text-color);
  font-family: var(--base-font-family);
  font-size: 87.5%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}
