:root {
  --background-body: #fff;
  --background-menu: #2f2f32;
  --text-color: #1f1f21;
  --header-font-family: 'Assistant', sans-serif;
  --base-font-family: 'Helvetica', sans-serif;

  --base-margin: 10px;
  --base-font-size: 1em;
  --h1-font-size: calc(var(--base-font-size) * 2.5);
  --h2-font-size: calc(var(--base-font-size) * 2.5);
  --h3-font-size: calc(var(--base-font-size) * 2);
  --h4-font-size: calc(var(--base-font-size) * 1.5);

  --white: #f7f7fa;
  --blue: #2fa8ff;
  --blue-dark: color(var(--blue) blackness(10%));
  --orange: #ff734c;
  --orange-dark: color(var(--orange) blackness(10%));
  --grey: #adadaf;
  --grey-dark: color(var(--grey) blackness(80%));
  --grey-light: color(var(--grey) lightness(95%));

  --success: #63b945;
  --alert: #e25554;

  --border-color: var(--grey-dark);

  --sm: 480px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1200px;

  --success: {
    background: var(--success);
    color: var(--white);
  };

  --alert: {
    background: var(--alert);
    color: var(--white);
  };
}
